.back-button-wrapper {
  display: block;
}

.back-button {
  display: inline-block;
  margin-bottom: 1em;
  --underline-offset: 0.23em !important;

  i {
    transition: transform var(--speed-fast) var(--easing-cubic-steep);
    transform: none;
    margin-right: 0.22ch;
  }

  &:hover,
  &:focus {
    i {
      transform: translateX(-17%);
    }
  }
}