.navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  // z-index: -1;

  > div {
    position: absolute;
    transform-origin: center center;
    display: block;
    height: $page-padding;
    text-align: center;
    z-index: 10;
    transition: height 1s ease-out,
                transform 1s ease-out;

    &.left {
      top: 50vh;
      left: 0;
      transform: translate(calc(-50% + #{$page-padding / 2}), -50%) rotate(90deg);
      width: 100vh;
    }

    &.right {
      top: 50vh;
      right: 0;
      transform: translate(calc(50% - #{$page-padding / 2}), -50%) rotate(-90deg);
      width: 100vh;
    }

    &.bottom {
      left: 50vw;
      bottom: 0;
      transform: translate(-50%, 0);
      width: 100vw;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grey-1;
    font-size: 1.75rem;
    text-decoration: none;
    line-height: 1;
    height: $page-padding;

    // transition: all 1s ease-out,
    //             color 0.4s;

    span.highlight-wrapper {
      flex: 0 0 auto;
      display: block;
      padding: 11px 20px 7px;
      // position: relative;
      --marker-color: #{$black-2};
      --marker-path: red; // TODO: temp
      background-image: paint(marker);

      // &::before {
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   bottom: 0;
      //   z-index: -1;

      //   // transform: scale(1, 1) rotate(-2deg) skew(-20deg);

      //   // @supports (background: paint(marker)) {
      //   //   background: paint(marker);
      //   // }

      //   // @supports not (background: paint(marker)) {
      //   //   background: $black-2;
      //   // }
      // }
    }

    &:hover,
    &:focus {
      color: $grey-2;
    }

    &.router-link-active {
      display: none; // TODO: animatie
    }
  }
}