.navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  position: relative;
  padding: 6rem 4rem 2rem;

  &::after {
    content: '';
    background: #000;
    // voor benaderen width:
    // cos(angle) = (100vw / x)
    // x = 100vw/cos(angle)
    // bijv. x = 100/cos(2deg) = 100.06095443
    // width: 100.06095443vw;
    width: 102vw;
    height: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: rotate(#{-1 * $angle}deg);
    transform-origin: right top;
  }

  ul {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    transform: rotate(#{-1 * $angle}deg);
  }

  a {
    color: $grey;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.4s;

    &:hover,
    &:focus,
    &.active {
      color: $grey-2;
    }
  }

  li:not(:last-child) a {
    margin-right: 1.5em;
  }
}