.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-top: 60px;

  a {
    display: block;
    padding: 0.5ch;
    color: currentColor;
    font-size: 200%;
    line-height: 1;
    transition-property: transform, opacity, color, filter;
    transition-duration: var(--speed-fast);
    transition-timing-function: var(--easing-cubic);
    opacity: 0.6;
    transform: scale(0.85);

    &:hover,
    &:focus {
      opacity: 1;
      transform: scale(1);
    }

    &[href*="linkedin"] {
      &:hover,
      &:focus {
        color: #0a66c2;
      }
    }

    &[href*="twitter"] {
      &:hover,
      &:focus {
        color: #1da1f2;
      }
    }

    // &[href*="github"] {
    //   &:hover,
    //   &:focus {
    //   }
    // }
  }
}