.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
  pointer-events: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    height: 150%;
    background: linear-gradient(to top, rgba($black-0, 0.7) 0%, 40%, rgba($black-0, 0) 100%);
    z-index: -1;
    pointer-events: none;
  }

  > * {
    flex: 0 0 auto;
    pointer-events: auto;
  }

  span {
    font-size: 75%;
    margin-right: 0.7ch;
    color: var(--grey-1);
    line-height: 1;
  }

  a {
    display: block;
    padding: 0.6ch 0.4ch;
    font-size: 160%;
    line-height: 1;

    i {
      color: var(--grey-0);
      transform: scale(0.85);
      transition-property: transform, color, filter;
      transition-duration: var(--speed-fast);
      transition-timing-function: var(--easing-cubic-steep);
    }

    &:hover,
    &:focus {
      i {
        transform: scale(1);
      }
    }

    &[href*="linkedin"] {
      &:hover,
      &:focus {
        i {
          color: #0a66c2;
        }
      }
    }

    &[href*="twitter"] {
      &:hover,
      &:focus {
        i {
          color: #1da1f2;
        }
      }
    }

    &[href*="github"] {
      &:hover,
      &:focus {
        i {
          color: #ffffff;
        }
      }
    }
  }
}