*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
  // font-family: Alcubierre;
  font-family: josefin-sans, sans-serif;
  font-weight: 300;
  letter-spacing: -0.015ch;
  // font-family: 'DK Sirius B';
  // font-family: 'Daniel';
  // font-family: 'Caviar Dreams';
  // letter-spacing: -0.2ch;
  line-height: 1.5;
  background-color: var(--black-1);
  color: var(--grey-2);
  // color: #d8d8d8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &[data-page="projects"] {
    // --page-padding: 100px;
    background-color: #2b2d30; // TODO: temp
  }
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.125;
}

h2 {
  font-size: 3.5rem;
  line-height: 1.125;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.4;
}

h4 {
  font-size: 1.25rem;
  font-weight: 100;
}

h5 {
  font-size: 0.75rem;
}

@keyframes zoom-in {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  100% {
    top: var(--page-padding);
    left: var(--page-padding);
    right: var(--page-padding);
    bottom: var(--page-padding);
  }
}

#app {
  position: relative;

  // TODO: Doe dit als element in /projects
  // &::before {
  //   content: '';
  //   position: absolute;
  //   background-color: #ffffff;
  //   opacity: 0.03;
  //   animation: zoom-in 1s $easing-cubic forwards;
  // }
}