// @font-face {font-family: "Alcubierre"; src: url("//db.onlinewebfonts.com/t/d08a067b981040590322dd2495d05893.eot"); src: url("//db.onlinewebfonts.com/t/d08a067b981040590322dd2495d05893.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d08a067b981040590322dd2495d05893.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d08a067b981040590322dd2495d05893.woff") format("woff"), url("//db.onlinewebfonts.com/t/d08a067b981040590322dd2495d05893.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d08a067b981040590322dd2495d05893.svg#Alcubierre") format("svg"); }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  display: flex;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  flex: 0 0 100%;
  min-height: 100%;
  font-size: 1.4rem;
  font-size: clamp(1.2rem, calc(1.4 * (10px + 0.33vw)), 2rem);
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.05ch;
  line-height: 1.65;
  // background: var(--black-0);
  background: linear-gradient(135deg, #0e0f12, #0e1014, #0e1015, #0e1117, #0e1118, #0e1219, #0d121b, #0d131c);
  // background: linear-gradient(135deg, #0e0f12, #121319, #161b26, #1a2334, #1b273b);
  // background: linear-gradient(135deg, #0e0f12, #101216, #131920, #10242f, #00333e, #004448, #005548, #1c6541, #437235, #637a2a, #7a7f25, #828023);
  color: #dddddd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: var(--max-container-width);
  margin-left: auto;
  margin-right: auto;
  // padding: max(14vh, 74px) max(13vw, 60px);
  padding: max(14vh, 74px) 0;
}

a.link {
  color: inherit;
  text-decoration: none;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    bottom: -0.3em;
    left: 0;
    right: 0;
    height: 0.18em;
    border-radius: 0.18em;
    background-color: #02cfa3;
    transform: scaleX(1);
    opacity: 0.5;
    transition-property: transform, opacity, border-radius;
    transition-duration: var(--speed-fast);
    transition-timing-function: var(--easing-cubic);
  }

  &:hover,
  &:focus {
    &::before {
      transform: scaleX(0.95);
      opacity: 1;
      // border-radius: 4px;
    }
  }
}

p {
  margin-block-start: 1.75em;
  margin-block-end: 1.75em;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  + p {
    margin-block-start: 0.5em;
  }
}

h1 {
  font-size: 2.5em;
  line-height: 1.125;

  + p {
    margin-block-start: 0.75em;
  }
}
