.home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-inline: 50px;
  gap: 75px;

  .text {
    flex: 3 0 50%;
    max-inline-size: 34em;
    margin-block: max(14vh, 74px);
    margin-inline-start: max(calc(0.07 * min(var(--max-container-width), 100vw)), 50px);

    > div + div {
      margin-block-start: 2.2em;
    }

    h1 {
      display: inline-block;

      @supports (background-clip: text) {
        $c1: mix($primary, $white-0, 90%);
        $c2: mix($primary-light, $primary, 60%);
        $c3: mix($secondary-light, $white-0, 100%);
        $c4: mix($secondary, $white-0, 75%);
        // background: linear-gradient(120deg, #{$c1}, 50%, #{$c4});
        // background: linear-gradient(120deg, #{$c1}, 20%, #{$c2}, 35%, #{$c3}, 80%, #{$c4});
        // background: linear-gradient(120deg, #{$c1}, 15%, #{$c2}, 45%, #{$c4});
        background: linear-gradient(180deg, #{$c1}, 15%, #{$c2}, 60%, #{$c4});
        background-clip: text;
        color: transparent;
        filter: drop-shadow(0 0 26px rgba($primary, 0.14));
      }
    }
  }

  .featured-projects {
    flex: 2 0 25%;
    min-inline-size: min(20em, 100%);
    max-inline-size: 27em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    margin-block: calc(max(14vh, 74px) * 0.66);
    margin-block-end: calc(max(14vh, 74px) * 1.2);
    // margin-inline-end: 75px;
    gap: 45px;
  }
}
