.home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-inline: min(50px, 5vw);
  gap: 65px;

  .text {
    flex: 3 0 50%;
    max-width: 34em;
    margin-block: 7em;
    margin-block: min(7em, 20vmin);
    --inset: max(0.05 * var(--vw), 20px);
    margin-inline-start: var(--inset);
    padding-inline-end: var(--inset);

    > div + div {
      margin-top: 2.2em;
    }

    h1 {
      display: inline-block;

      // @supports (background-clip: text) {
      //   $c1: mix($primary, $white-0, 90%);
      //   $c2: mix($primary-light, $primary, 60%);
      //   $c3: mix($secondary-light, $white-0, 100%);
      //   $c4: mix($secondary, $white-0, 50%);
      //   // background: linear-gradient(120deg, #{$c1}, 50%, #{$c4});
      //   // background: linear-gradient(120deg, #{$c1}, 20%, #{$c2}, 35%, #{$c3}, 80%, #{$c4});
      //   // background: linear-gradient(120deg, #{$c1}, 15%, #{$c2}, 45%, #{$c4});
      //   background: linear-gradient(180deg, #{$c1}, 15%, #{$c2}, 65%, #{$c4});
      //   background-clip: text;
      //   color: transparent;
      //   filter: drop-shadow(0 0 26px rgba($primary, 0.14));
      // }
    }

    h2 {
      font-size: 1.6em;
      line-height: 1.175;
      font-weight: 500;
      font-family: revert;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 0.9em;
    }
  }

  .featured-projects {
    flex: 2 0 25%;
    min-width: min(20em, 100%);
    max-width: 27em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    margin-top: calc(max(14vh, 74px) * 0.66);
    margin-bottom: calc(max(14vh, 74px) * 1.2);
    margin-right: math.div(75px, 2);
    // margin-right: 75px;
    gap: 45px;
  }
}
