.project {
  width: 100%;
  margin-right: auto;
  margin-bottom: auto;
  padding-inline: clamp(50px, 10vw, 150px);
  padding-block: clamp(60px, 15vh, 120px);

  .back-button-wrapper {
    margin-bottom: 3.5em;
  }

  .back-button i {
    margin-right: 0.22ch;
  }

  h1 {
    font-size: 1.6em;
    line-height: 1.175;
    font-weight: 500;
    font-family: revert;
  }

  h2 {
    font-size: 2.55em;
    margin-top: 0.25em;
    margin-bottom: 1em;
  }

  &__headings {
    max-width: 80ch;
  }

  &__clients {
    margin-top: 1.6em;
  }
}