*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Alcubierre;
  // font-family: 'Caviar Dreams';
  // font-family: 'Daniel';
  // font-family: 'DK Sirius B';
  // font-family: Hashtag;
  font-size: 1.5rem;
  letter-spacing: 0.1ch;
  line-height: 1.5;
  background-color: $black-1;
  color: $grey-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // &[data-page="projects"] {
  //   --page-padding: 100px;
  // }
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 1.125;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.4;
}

h4 {
  font-size: 1.25rem;
  font-weight: 100;
}

h5 {
  font-size: 0.75rem;
}