:root {
  --max-container-width: 1860px;
  --vw: min(var(--max-container-width), 100vw);
  --spacing: 2.5em;
  --black-0: #0e0f0f;
  --black-1: #101318;
  --black-2: #38393b;
  --black-3: #7b7b7b;
  --grey-0: #898f92;
  --grey-1: #99a1a6;
  --grey-2: #dce3e7;
  --white-0: #d7d8dd;
  --white-1: #e4e5ec;
  --primary: #37ef92;
  --primary-light: #4dfad4;
  --primary-dark: #009b74;
  --secondary: #3791f4;
  --secondary-light: #6ebeff;
  --secondary-dark: #1F4287;
  --angle: 0deg;
  --speed-slow: 1.6s;
  --speed-medium: 0.7s;
  --speed-fast: 0.4s;
  --easing-cubic: cubic-bezier(0.46, 0.02, 0.37, 1);
  --easing-cubic-steep: cubic-bezier(0.26, 0, 0.16, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  display: flex;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
html {
  scrollbar-width: auto;
  scrollbar-color: var(--primary-dark) var(--black-2);
}
html::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
html::-webkit-scrollbar-track {
  background: var(--black-2);
}
html::-webkit-scrollbar-thumb {
  background: var(--primary-dark);
  border: 3px solid var(--black-2);
  border-radius: 100px;
}

body {
  flex: 0 0 auto;
  width: 100%;
  min-height: 100%;
  font-size: 1.4rem;
  font-size: clamp(1.2rem, 1.4 * (10px + 0.33vw), 2rem);
  font-family: "Space Grotesk", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  background: #0e0f12;
  color: var(--white-0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: var(--max-container-width);
  margin-inline: auto;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a.link {
  --underline-offset: 0px;
  display: inline-block;
  position: relative;
  height: 0.24em;
  border-radius: 1em;
  overflow: visible;
  box-shadow: 0 calc(1.55em + var(--underline-offset)) 0 -1.4px rgba(55, 239, 146, 0.45);
  transition-property: box-shadow, transform;
  transition-duration: var(--speed-fast);
  transition-timing-function: var(--easing-cubic-steep);
}
a.link:hover, a.link:focus {
  box-shadow: 0 calc(1.54em + var(--underline-offset)) 0 -0.7px #37ef92;
  transform: translateY(-0.1em);
}

p:first-child {
  margin-top: 0;
}
p:not(:first-child) {
  margin-top: calc(var(--spacing) * 0.75);
}
p:last-child {
  margin-bottom: 0;
}
p:not(:last-child) {
  margin-bottom: calc(var(--spacing) * 0.75);
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arvo", serif;
  letter-spacing: 0.05ch;
  margin: 0;
}
h1 + h1,
h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6,
h2 + h1,
h2 + h2,
h2 + h3,
h2 + h4,
h2 + h5,
h2 + h6,
h3 + h1,
h3 + h2,
h3 + h3,
h3 + h4,
h3 + h5,
h3 + h6,
h4 + h1,
h4 + h2,
h4 + h3,
h4 + h4,
h4 + h5,
h4 + h6,
h5 + h1,
h5 + h2,
h5 + h3,
h5 + h4,
h5 + h5,
h5 + h6,
h6 + h1,
h6 + h2,
h6 + h3,
h6 + h4,
h6 + h5,
h6 + h6 {
  margin-top: 0.7em;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0.3em !important;
}

h1 {
  font-size: 2.7em;
  line-height: 1.175;
}
h1 + p {
  margin-top: 1.25em !important;
}

h2 {
  font-size: 1.55em;
  line-height: 1.22;
  margin-bottom: 0.35em;
  margin-top: 1.56em;
}

hr {
  margin: 2.5em auto;
  position: relative;
  height: 9px;
  width: 9px;
  border: transparent;
  overflow: visible;
  background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="4" fill="%2337ef92" /></svg>');
}
hr:before {
  position: absolute;
  height: 9px;
  width: 10px;
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="9" viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg"><path d="M3.91043 1.29752C4.30449 0.688518 5.19551 0.688519 5.58957 1.29752L9.25143 6.95675C9.68196 7.62211 9.20436 8.5 8.41186 8.5H1.08814C0.29564 8.5 -0.181954 7.62211 0.248574 6.95675L3.91043 1.29752Z" fill="%23ffc342" /></svg>');
  left: -18px;
}
hr:after {
  position: absolute;
  height: 9px;
  width: 9px;
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="1" fill="%23ef4056" /></svg>');
  right: -18px;
}

.back-button-wrapper {
  display: block;
  position: sticky;
  top: min(80px, 8vh);
  z-index: 10;
  pointer-events: none;
}

.back-button {
  display: inline-block;
  margin-bottom: 1em;
  --underline-offset: 0.23em !important;
  position: relative;
  pointer-events: all;
  transition: transform var(--speed-fast) var(--easing-cubic-steep);
}
.back-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 50px);
  height: calc(100% + 25px);
  box-shadow: 0 0 0 2px #009b74 !important;
  background-color: rgba(14, 15, 18, 0.65);
  border-radius: 9999px;
  transition: inherit;
  z-index: -1;
}
.back-button i {
  display: inline-block;
  transition: inherit;
  transform: translateY(-6%);
  margin-right: 0.5ch;
  font-size: 90%;
  font-style: normal;
  vertical-align: middle;
  color: #009b74;
}
.back-button:hover, .back-button:focus {
  transform: scale(1.07);
}
.back-button:hover::before, .back-button:focus::before {
  transform: translate(-50%, -50%) scale(1.05);
}

.project--teaser a {
  display: block;
  position: relative;
  border: 2px solid var(--black-1);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 15px transparent;
  padding: 0.7em 1em;
  aspect-ratio: 7/4;
  overflow: hidden;
  transform: none;
  transition-property: transform, box-shadow;
  transition-duration: calc(0.75 * var(--speed-medium)), var(--speed-medium);
  transition-timing-function: var(--easing-cubic);
}
.project--teaser a:hover, .project--teaser a:focus {
  transform: scale(1.02);
  box-shadow: 0px 0px 55px var(--project-teaser-hover-box-shadow-color, var(--black-3));
}
.project--teaser a:hover .project__media-wrapper, .project--teaser a:focus .project__media-wrapper {
  opacity: 1;
  transform: none;
  filter: var(--extra-filters);
}
.project--teaser a:hover .project__media-wrapper video, .project--teaser a:focus .project__media-wrapper video {
  visibility: visible;
  opacity: 1;
}
.project--teaser a:hover p, .project--teaser a:focus p {
  color: #fff;
  transform: scale(1.05);
}
.project--teaser a .project__media-wrapper {
  --extra-filters: brightness(1);
  opacity: 0.75;
  transform: scale(1.08) translateZ(0);
  filter: var(--extra-filters);
}
.project--teaser a .project__media-wrapper, .project--teaser a .project__media-wrapper img, .project--teaser a .project__media-wrapper video {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  transition-property: transform, opacity, visibility, filter;
  transition-duration: var(--speed-medium);
  transition-timing-function: var(--easing-cubic);
}
.project--teaser a .project__media-wrapper video {
  visibility: hidden;
  opacity: 0.01;
}
.project--teaser a img, .project--teaser a video {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.project--teaser a p {
  position: absolute;
  bottom: 1em;
  left: 0;
  padding: 0.28em 1.35em 0.28em 1.15em;
  filter: drop-shadow(0px 2px 7px hsla(var(--project-color-h), var(--project-color-s), var(--project-color-l), 0.35));
  color: var(--white-1);
  transform: none;
  transform-origin: left center;
  transition-property: color, transform;
  transition-duration: var(--speed-medium);
  transition-timing-function: var(--easing-cubic);
  text-shadow: 0 0.5px 1px rgba(123, 123, 123, 0.3);
}
.project--teaser a p::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--project-color, var(--secondary-dark));
  -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(100% - 0.3em) 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, calc(100% - 0.3em) 100%, 0% 100%);
}
.project--teaser a p strong {
  position: relative;
  z-index: 1;
}
.project--teaser[data-project-id=kozijnverbindingen] {
  --project-color: #0da0d8;
  --project-color-h: 196.5517241379deg;
  --project-color-s: 88.6462882096%;
  --project-color-l: 44.9019607843%;
  --project-teaser-hover-box-shadow-color: rgba(57, 145, 179, 0.9);
}
.project--teaser[data-project-id=haringvliet] {
  --project-color: #57a691;
  --project-color-h: 164.0506329114deg;
  --project-color-s: 31.2252964427%;
  --project-color-l: 49.6078431373%;
  --project-teaser-hover-box-shadow-color: rgba(92, 164, 145, 0.9);
}
.project--teaser[data-project-id=haringvliet] .project__media-wrapper {
  --extra-filters: brightness(0.92) saturate(1.25);
}
.project--teaser[data-project-id=groenlinks-maak] {
  --project-color: #db0030;
  --project-color-h: 346.8493150685deg;
  --project-color-s: 100%;
  --project-color-l: 42.9411764706%;
  --project-teaser-hover-box-shadow-color: rgba(166, 68, 89, 0.65);
}
.project--teaser[data-project-id=kozijnisolatie] {
  --project-color: #651a45;
  --project-color-h: 325.6deg;
  --project-color-s: 59.0551181102%;
  --project-color-l: 24.9019607843%;
  --project-teaser-hover-box-shadow-color: #704b60;
}
.project--teaser[data-project-id=spotify-audio-features] {
  --project-color: #1aa34a;
  --project-color-h: 141.0218978102deg;
  --project-color-s: 72.4867724868%;
  --project-color-l: 37.0588235294%;
  --project-teaser-hover-box-shadow-color: #4b8f63;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
  pointer-events: none;
}
.social-links::before {
  content: "";
  display: block;
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  height: 240%;
  background: linear-gradient(to top, #111927 0%, #111927 10%, 60%, transparent 100%);
  z-index: -1;
  pointer-events: none;
  opacity: 0.9;
}
.social-links > * {
  flex: 0 0 auto;
  pointer-events: auto;
}
.social-links span {
  font-size: 75%;
  margin-right: 0.85ch;
  color: var(--grey-0);
  line-height: 1;
  font-weight: 600;
  margin-top: -1px;
}
.social-links a {
  display: block;
  padding: 0.6ch 0.4ch;
  font-size: 160%;
  line-height: 1;
}
.social-links a i {
  color: var(--grey-0);
  transform: scale(0.85);
  transition-property: transform, color, filter;
  transition-duration: var(--speed-fast);
  transition-timing-function: var(--easing-cubic-steep);
}
.social-links a:hover i, .social-links a:focus i {
  transform: scale(1);
}
.social-links a[href*=linkedin]:hover i, .social-links a[href*=linkedin]:focus i {
  color: #0a66c2;
}
.social-links a[href*=twitter]:hover i, .social-links a[href*=twitter]:focus i {
  color: #1da1f2;
}
.social-links a[href*=github]:hover i, .social-links a[href*=github]:focus i {
  color: #ffffff;
}

.home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-inline: min(50px, 5vw);
  gap: 65px;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
}
.home .text {
  flex: 3 0 50%;
  max-width: 34em;
  margin-block: 7em;
  margin-block: min(7em, 20vmin);
  --inset: max(0.05 * var(--vw), 20px);
  -webkit-margin-start: var(--inset);
          margin-inline-start: var(--inset);
  -webkit-padding-end: var(--inset);
          padding-inline-end: var(--inset);
}
.home .text > div + div {
  margin-top: var(--spacing);
}
.home .text h1 {
  display: inline-block;
}
.home .text h2 {
  font-size: 1.6em;
  line-height: 1.175;
  font-weight: 500;
  font-family: revert;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.home .text p {
  font-size: 0.9em;
}
.home .featured-projects {
  flex: 2 0 25%;
  min-width: min(20em, 100%);
  max-width: 27em;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin-top: calc(max(14vh, 74px) * 0.66);
  margin-bottom: calc(max(14vh, 74px) * 1.2);
  margin-right: 37.5px;
  gap: 45px;
}

.project {
  width: 100%;
  margin-right: auto;
  margin-bottom: auto;
  padding-inline: clamp(50px, 10vw, 150px);
  padding-block: clamp(60px, 15vh, 120px);
}
.project__header-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80vh;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom, black 0%, 70%, transparent 100%);
          mask-image: linear-gradient(to bottom, black 0%, 70%, transparent 100%);
}
.project .back-button-wrapper {
  margin-bottom: 3.5em;
}
.project .navigation-wrapper {
  position: fixed;
  top: 50%;
  --margin: 10px;
  left: var(--margin);
  right: var(--margin);
  width: calc(100% - 2 * var(--margin));
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}
.project .navigation-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  transition-property: opacity, transform;
  transition-duration: var(--speed-fast);
  transition-timing-function: var(--easing-cubic-steep);
  opacity: 0.3;
  padding: 15px;
  font-size: 135%;
}
.project .navigation-wrapper a:hover, .project .navigation-wrapper a:focus {
  opacity: 1;
  transform: scale(1.15);
}
.project h1 {
  font-size: 1.6em;
  line-height: 1.175;
  font-weight: 500;
  font-family: revert;
}
.project h2 {
  font-size: 2.55em;
  margin-top: 0.25em;
  margin-bottom: 1em;
}
.project__headings {
  max-width: 80ch;
}
.project__clients {
  margin-top: 1.6em;
}
.project__clients ul {
  list-style: revert;
  list-style-position: inside;
}
.project__clients ul li::marker {
  color: #37ef92;
}
.project__content,
.project .contact-block {
  text-align: left;
  margin: 0 auto;
  max-width: 55ch;
  font-size: 0.9em;
}
.project .fa-arrow-right-long {
  font-size: 80%;
  margin-right: 1ch;
}