:root {
  --angle: 0deg;
  --speed-slow: 2s;
  --speed-medium: 1s;
  --speed-fast: 0.4s;
  --easing-cubic: cubic-bezier(0.46, 0.02, 0.37, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  display: flex;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  flex: 0 0 100%;
  min-height: 100%;
  padding: max(14vh, 74px) max(13vw, 60px);
  font-size: 1.42rem;
  font-size: clamp(1.2rem, 1.42 * (10px + 0.33vw), 2rem);
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.05ch;
  line-height: 1.65;
  background: linear-gradient(135deg, #0e0f12, #0e1014, #0e1015, #0e1117, #0e1118, #0e1219, #0d121b, #0d131c);
  color: #dddddd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

a.link {
  color: inherit;
  text-decoration: none;
  position: relative;
}
a.link::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 7px;
  border-radius: 4px;
  background-color: #186fe2;
  transform: scaleX(1) scaleY(0.7);
  opacity: 0.6;
  transition-property: transform, opacity, border-radius;
  transition-duration: var(--speed-fast);
  transition-timing-function: var(--easing-cubic);
}
a.link:hover::before, a.link:focus::before {
  transform: scaleX(0.95) scaleY(0.7);
  opacity: 1;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
  line-height: 1.125;
}

.back-button {
  display: inline-block;
  margin-bottom: 1em;
}

.who {
  width: 100%;
  max-width: 1280px;
  position: relative;
}
.who .text {
  max-inline-size: 34em;
}
.who h1 {
  color: #dce3e7;
}
.who p {
  -webkit-margin-before: 1.75em;
          margin-block-start: 1.75em;
  -webkit-margin-after: 1.75em;
          margin-block-end: 1.75em;
}
.who .social-links {
  -webkit-margin-before: -0.75em;
          margin-block-start: -0.75em;
}

.social-links a {
  display: inline-block;
  color: currentColor;
  font-size: 200%;
  transition-property: transform, opacity;
  transition-duration: var(--speed-fast);
  transition-timing-function: var(--easing-cubic);
  opacity: 0.6;
  transform: scale(0.85);
}
.social-links a:hover, .social-links a:focus {
  opacity: 1;
  transform: scale(1);
}
.social-links a + * {
  margin-left: 1ch;
}