:root {
  --max-container-width: 1860px;
  --black-0: #0e0f0f;
  --black-1: #101318;
  --black-2: #38393b;
  --black-3: #7b7b7b;
  --grey-0: #898f92;
  --grey-1: #99a1a6;
  --grey-2: #dce3e7;
  --white-0: #d7d8dd;
  --white-1: #e4e5ec;
  --primary: #37ef92;
  --primary-light: #4dfad4;
  --primary-dark: #00795e;
  --secondary: #3791f4;
  --secondary-light: #6ebeff;
  --secondary-dark: #1F4287;
  --angle: 0deg;
  --speed-slow: 1.6s;
  --speed-medium: 0.7s;
  --speed-fast: 0.4s;
  --easing-cubic: cubic-bezier(0.46, 0.02, 0.37, 1);
  --easing-cubic-steep: cubic-bezier(0.26, 0, 0.16, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  display: flex;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
html {
  scrollbar-width: auto;
  scrollbar-color: var(--primary-dark) var(--black-2);
}
html::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
html::-webkit-scrollbar-track {
  background: var(--black-2);
}
html::-webkit-scrollbar-thumb {
  background: var(--primary-dark);
  border: 3px solid var(--black-2);
  border-radius: 100px;
}

body {
  flex: 0 0 auto;
  width: 100%;
  min-height: 100%;
  font-size: 1.4rem;
  font-size: clamp(1.2rem, 1.4 * (10px + 0.33vw), 2rem);
  font-family: "Space Grotesk", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  background: #0e0f12;
  color: var(--white-0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  content: "";
  position: fixed;
  z-index: -10;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: linear-gradient(189deg, #0e0f12, #0e1014, #0e1015, #0e1117, #0e1118, #0e1219, #0d121b, #0d131c);
  background-position: 40% 40%;
  background-attachment: fixed;
}
body::after {
  content: "";
  background: radial-gradient(circle at 10% 40%, #09846623, rgba(255, 255, 255, 0) 25%), radial-gradient(circle at 53% 31%, #00354347, rgba(255, 255, 255, 0) 33%);
  display: block;
  position: fixed;
  z-index: -10;
  inset: 0;
  width: 100%;
  height: 100%;
}

#app {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: var(--max-container-width);
  margin-inline: auto;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a.link {
  display: inline-block;
  position: relative;
  height: 0.24em;
  border-radius: 1em;
  overflow: visible;
  box-shadow: 0 1.6em 0 -0.1px rgba(55, 239, 146, 0.45);
  transition-property: box-shadow, transform;
  transition-duration: var(--speed-fast);
  transition-timing-function: var(--easing-cubic-steep);
}
a.link:hover, a.link:focus {
  box-shadow: 0 1.54em 0 -0.7px #37ef92;
  transform: translateY(-0.1em);
}

p:first-child {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
p:not(:first-child) {
  -webkit-margin-before: 2.2em;
          margin-block-start: 2.2em;
}
p:last-child {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
p:not(:last-child) {
  -webkit-margin-after: 2.2em;
          margin-block-end: 2.2em;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montagu Slab", serif;
  letter-spacing: 0.05ch;
  margin: 0;
}
h1 + h1,
h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6,
h2 + h1,
h2 + h2,
h2 + h3,
h2 + h4,
h2 + h5,
h2 + h6,
h3 + h1,
h3 + h2,
h3 + h3,
h3 + h4,
h3 + h5,
h3 + h6,
h4 + h1,
h4 + h2,
h4 + h3,
h4 + h4,
h4 + h5,
h4 + h6,
h5 + h1,
h5 + h2,
h5 + h3,
h5 + h4,
h5 + h5,
h5 + h6,
h6 + h1,
h6 + h2,
h6 + h3,
h6 + h4,
h6 + h5,
h6 + h6 {
  -webkit-margin-before: 0.7em;
          margin-block-start: 0.7em;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  -webkit-margin-before: 0.3em !important;
          margin-block-start: 0.3em !important;
}

h1 {
  font-size: 2.7em;
  line-height: 1.175;
}
h1 + p {
  -webkit-margin-before: 1.25em !important;
          margin-block-start: 1.25em !important;
}

h2 {
  font-size: 1.55em;
  line-height: 1.52;
}

.back-button-wrapper {
  display: block;
}

.back-button {
  display: inline-block;
  margin-bottom: 1em;
}
.back-button i {
  transition: transform var(--speed-fast) var(--easing-cubic-steep);
  transform: none;
}
.back-button:hover i, .back-button:focus i {
  transform: translateX(-25%);
}

.project--teaser a {
  display: block;
  position: relative;
  border: 2px solid var(--black-1);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 15px transparent;
  padding: 0.7em 1em;
  aspect-ratio: 7/4;
  overflow: hidden;
  transform: none;
  transition-property: transform, box-shadow;
  transition-duration: calc(0.75 * var(--speed-medium)), var(--speed-medium);
  transition-timing-function: var(--easing-cubic);
}
.project--teaser a:hover, .project--teaser a:focus {
  transform: scale(1.02);
  box-shadow: 0px 0px 55px var(--project-teaser-hover-box-shadow-color, var(--black-3));
}
.project--teaser a:hover .project__media-wrapper, .project--teaser a:focus .project__media-wrapper {
  opacity: 1;
  transform: none;
  filter: none;
}
.project--teaser a:hover .project__media-wrapper video, .project--teaser a:focus .project__media-wrapper video {
  visibility: visible;
  opacity: 1;
}
.project--teaser a:hover p, .project--teaser a:focus p {
  color: #fff;
  transform: scale(0.9803921569);
}
.project--teaser a .project__media-wrapper {
  opacity: 0.65;
  transform: scale(1.08);
  filter: blur(2.5px);
}
.project--teaser a .project__media-wrapper, .project--teaser a .project__media-wrapper img, .project--teaser a .project__media-wrapper video {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  transition-property: transform, opacity, visibility, filter;
  transition-duration: var(--speed-medium);
  transition-timing-function: var(--easing-cubic);
}
.project--teaser a .project__media-wrapper video {
  visibility: hidden;
  opacity: 0;
}
.project--teaser a img, .project--teaser a video {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.project--teaser a p {
  position: absolute;
  bottom: 1em;
  left: 1.4em;
  padding: 0.28em 0.8em;
  border-radius: 4px;
  background-color: var(--project-color, var(--secondary-dark));
  box-shadow: 0px 2px 9px -5px var(--project-color, var(--secondary-dark));
  color: var(--white-1);
  transform: none;
  transition-property: color, transform;
  transition-duration: var(--speed-medium);
  transition-timing-function: var(--easing-cubic);
  text-shadow: 0 0.5px 1px rgba(123, 123, 123, 0.3);
}
.project--teaser[data-project-id=kozijnverbindingen] {
  --project-color: #0da0d8;
  --project-teaser-hover-box-shadow-color: rgba(57, 145, 179, 0.9);
}
.project--teaser[data-project-id=haringvliet] {
  --project-color: #0078c9;
  --project-teaser-hover-box-shadow-color: rgba(41, 127, 185, 0.8);
}
.project--teaser[data-project-id=groenlinks-maak] {
  --project-color: #db0030;
  --project-teaser-hover-box-shadow-color: rgba(166, 68, 89, 0.65);
}
.project--teaser[data-project-id=kozijnisolatie] {
  --project-color: #651a45;
  --project-teaser-hover-box-shadow-color: #704b60;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
  pointer-events: none;
}
.social-links::before {
  content: "";
  display: block;
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  height: 240%;
  background: linear-gradient(to top, #111927 0%, #111927 10%, 60%, transparent 100%);
  z-index: -1;
  pointer-events: none;
  opacity: 0.9;
}
.social-links > * {
  flex: 0 0 auto;
  pointer-events: auto;
}
.social-links span {
  font-size: 75%;
  margin-right: 0.7ch;
  color: var(--black-3);
  line-height: 1;
}
.social-links a {
  display: block;
  padding: 0.6ch 0.4ch;
  font-size: 160%;
  line-height: 1;
}
.social-links a i {
  color: var(--grey-0);
  transform: scale(0.85);
  transition-property: transform, color, filter;
  transition-duration: var(--speed-fast);
  transition-timing-function: var(--easing-cubic-steep);
}
.social-links a:hover i, .social-links a:focus i {
  transform: scale(1);
}
.social-links a[href*=linkedin]:hover i, .social-links a[href*=linkedin]:focus i {
  color: #0a66c2;
}
.social-links a[href*=twitter]:hover i, .social-links a[href*=twitter]:focus i {
  color: #1da1f2;
}
.social-links a[href*=github]:hover i, .social-links a[href*=github]:focus i {
  color: #ffffff;
}

.home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-inline: 50px;
  gap: 65px;
}
.home .text {
  flex: 3 0 50%;
  max-inline-size: 34em;
  margin-block: max(14vh, 74px);
  -webkit-margin-start: max(0.05 * min(var(--max-container-width), 100vw), 50px);
          margin-inline-start: max(0.05 * min(var(--max-container-width), 100vw), 50px);
  -webkit-padding-end: max(0.05 * min(var(--max-container-width), 100vw), 50px);
          padding-inline-end: max(0.05 * min(var(--max-container-width), 100vw), 50px);
}
.home .text > div + div {
  -webkit-margin-before: 2.2em;
          margin-block-start: 2.2em;
}
.home .text h1 {
  display: inline-block;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  .home .text h1 {
    background: linear-gradient(180deg, #47ed9a, 15%, #44f6ba, 65%, #87b5e9);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    filter: drop-shadow(0 0 26px rgba(55, 239, 146, 0.14));
  }
}
.home .featured-projects {
  flex: 2 0 25%;
  min-inline-size: min(20em, 100%);
  max-inline-size: 27em;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin-block: calc(max(14vh, 74px) * 0.66);
  -webkit-margin-after: calc(max(14vh, 74px) * 1.2);
          margin-block-end: calc(max(14vh, 74px) * 1.2);
  gap: 45px;
}

.project {
  width: 100%;
  margin-right: auto;
  margin-bottom: auto;
  padding-inline: clamp(40px, 9vw, 100px);
  padding-block: clamp(50px, 14vh, 90px);
}
.project .back-button-wrapper {
  margin-bottom: 1.5em;
}
.project .back-button i {
  margin-right: 0.22ch;
}
.project__headings {
  max-inline-size: 1000px;
}