$black-0: #0e0f0f;
$black-1: #101318;
$black-2: #38393b;
$black-3: #7b7b7b;
$grey-0: #898f92;
$grey-1: #99a1a6;
$grey-2: #dce3e7;
$white-0: #d7d8dd;
$white-1: #e4e5ec;

$primary: #02cfa3;
$primary-light: #4dfad4;
$primary-dark: #00795e;
$secondary: #60b8ff;
$secondary-light: #6ebeff;
$secondary-dark: #1F4287;
// $secondary: #1F4287;
// $secondary-dark: #682832;

:root {
  --max-container-width:  1860px;
  --black-0:              #{$black-0};
  --black-1:              #{$black-1};
  --black-2:              #{$black-2};
  --black-3:              #{$black-3};
  --grey-0:               #{$grey-0};
  --grey-1:               #{$grey-1};
  --grey-2:               #{$grey-2};
  --white-0:              #{$white-0};
  --white-1:              #{$white-1};
  --primary:              #{$primary};
  --primary-light:        #{$primary-light};
  --primary-dark:         #{$primary-dark};
  --secondary:            #{$secondary};
  --secondary-light:      #{$secondary-light};
  --secondary-dark:       #{$secondary-dark};
  --angle:                0deg; // wordt gebruikt in JS
  --speed-slow:           1.6s;
  --speed-medium:         0.7s;
  --speed-fast:           0.4s;
  --easing-cubic:         cubic-bezier(0.46, 0.02, 0.37, 1);
  --easing-cubic-steep:   cubic-bezier(0.26, 0, 0.16, 1);
}